<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- EXTENDING BASE FILE WITH MENU AND FOOTER -->
    <!--{% extends "base_page.html" %}-->
    <!--{% block inpage %}-->
<!-- CONTENT SECTION -->
    <section class="section_content">
        <section class="section_search_author">
            <div class="div_post_title">
                <h1>Wyszukaj Autora</h1>
            </div>
            <form method="post" id="author_redirect_form" action>
                {% csrf_token %}
                <input id="author_name" type="text" onchange="updatevariable(this.value)">
                <a href="author/" onclick="location.href=this.href+value;return false;"><button>Przejdź do autora</button></a>
            </form>
        </section>

<!-- TABLE OF AUTHORS -->
        {% if content.users %}
            <section class="section_authors_list">
                <div class="div_post_title">
                    <h1>Autorzy</h1>
                </div>
                <div class="div_author_table">
                    <table class="content_table_group">
                        <thead>
                            <tr class="table_titles">
                                <th>Użytkownik</th><th>Posty</th><th>Komentarze</th><th>Dołączył</th><th>Ostatnio widziany</th>
                        <tbody>
                            {% for author in content.users %}
                                <tr class="table_row">
                                    <td class="table_cell"><a href="../author/{{author.user.username}}">{{author.user.username}}</a></td>
                                    <td class="table_cell">{{author.post_count}}</td>
                                    <td class="table_cell">{{author.comments_count}}</td>
                                    <td class="table_cell">{{author.user.date_joined}}</td>
                                    <td class="table_cell">{{author.user.last_login}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        {% endif %}

    <script type="text/javascript">
        var value = "test";
        function updatevariable(data) {
            value = data;
        }
    </script>


    </section>
<!--{% endblock inpage %}-->



</body>
</html>