<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Menu -->
    <section class="section_nav">
        <ol>
            <li class="li_menu"><a href="../posts">Posty</a>
                {% if content.posts_menu %}
                    <ul>
                        {% for post in content.posts_menu %}

                            <li><a href="../post/finished/{{post.id}}">{{post.title}}<br>{{post.created}}</a></li>

                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li class="li_menu"><a href="../authors">Autorzy</a>
                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="../author/{{content.user.username}}">Moje konto</a></li>
                        <li><a href="../messages">Wiadaomości</a></li>
                    </ul>
                {%endif %}
            </li>
            <li class="li_menu">Użytkownicy
                  <ul>
                      <li><a href="{{url_for('get_user_create')}}">Dodaj</a></li>
                      <li><a href="{{url_for('get_user_manage')}}">Zarządzaj</a></li>
                      <!-- <li><a href="{{url_for('get_user_my')}}">Moje dane</a></li> -->
                  </ul>
            </li>
            <li class="li_title">
                <div class="div_title">
                    <h1 class="h1_title">The Device's Grandmaster</h1>
                </div>

            </li>
            <li class="li_menu">{{ content.username }}
                 <ul>
                      <li><a href="{{url_for('get_logout')}}">Wyloguj</a></li>
                 </ul>
            </li>
        </ol>
    </section>

</body>
</html>