<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="section_nav">
        <ol>
            <li class="li_menu"><a href="/posts">Posty</a>
                {% if content.posts_menu %}
                    <ul>
                        {% for post in content.posts_menu %}

                            <li><a href="/post/finished/{{post.id}}">{{post.title}}<br>{{post.created}}</a></li>

                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li class="li_menu"><a href="/authors">Autorzy</a>
                {% if user.is_authenticated %}
                    <ul>
                        <li><a href="/author/{{user}}">Moje konto</a></li>
                        <li><a href="/messages">Wiadaomości</a></li>
                    </ul>
                {%endif %}
            </li>
            <li class="li_title">
                <a href="/">
                    <div class="div_title">
                        <h1 class="h1_title">The Posts Portal</h1>
                    </div>
                </a>
            </li>
            {% if user.is_authenticated %}
                <li class="li_menu">{{ content.user.username }}
                    {% if content.new_messages %}
                        <span style="color: #FF0000;">{{content.new_messages}}</span>
                    {% endif %}

                    <ul>
                        <li><a href="/author/{{user}}">Moje konto</a></li>
                        <li><a href="/logout">Wyloguj</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="li_menu">Niezalogowany użytkownik</li>
                    <ul>
                        <li><a href="/login">Zaloguj się</a></li>
                        <li><a href="/login">Zarejestruj się</a></li>
                    </ul>
            {% endif %}
        </ol>
    </section>

    {% if messages %}
        <section class="section_messages">
            <div class="div_messages">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        </section>
    {% endif %}

<!-- Content -->
    <section class="section_content">
        {% block inpage %}
        {% endblock inpage %}
    </section>

<!-- Footer -->
    <section class="section_footer">
        <p>Created by: Radke Lab's 2022</p>
    </section>
</body>
</html>