<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- EXTENDING BASE FILE WITH MENU AND FOOTER -->
    {% extends "base_page.html" %}
    {% block inpage %}
<!-- CONTENT SECTION -->
    <section class="section_content">
        <section class="section_messengers_list">
<!-- LIST OF USERS WITH MESSAGES -->
            {{content}}
            {% for person in content.messagers %}
                <a href="/send_message/{{person.author}}">
                    {% if person.message_sender.id == user.id %}
                        <div class="div_person_filed" style="background-color: #0000FF;">
                    {% else %}
                        <div class="div_person_filed" style="background-color: #FF0000;">
                    {% endif %}

                        <h4>{{person.author}}</h4>
                        <p>{{person.content}}</p>
                        <p>{{person.created}}</p>
                        {% if person.seen == False %}
                            <p>Not seen</p>
                        {% elif person.seen %}
                            <p>Seen</p>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

        </section>
    </section>
    {% endblock inpage %}

</body>
</html>